body {
    background-color:rgb(189, 250, 109);
  }
  
  h1 {
    color: black;
    text-align: center;
  }
  
  h2 {
    color: red;
    font-size: 16px

  }

  h3 {
    color: black;
    font-style: italic
    font-size: 14px
  }

  p {
    color: black;
    font-family: verdana;
    font-size: 12px;
  }
  
  table {
    border-collapse: collapse;
  }

  /var/www/html

  table, th, td {
    border: 1px solid gray;
  }  